{{#let
  (hash
    Content=(if
      this.renderContent
      (component
        "expander/content" onInsert=this.registerContentElement style=this.style
      )
    )
    toggle=this.toggle
    toggleWithTransition=this.toggleWithTransition
    expand=this.expand
    expandWithTransition=this.expandWithTransition
    collapse=this.collapse
    collapseWithTransition=this.collapseWithTransition
    isExpanded=this.isExpanded
    isTransitioning=this.isTransitioning
  ) as |api|
}}
  <div
    class={{
      concat
      "expander"
      (if this.isExpanded " expander--expanded" " expander--collapsed")
      (if this.isTransitioning " expander--transitioning")
    }}
    aria-expanded={{if this.isExpanded "true" "false"}}
    ...attributes
    {{did-insert (fn this.handleInsertElement api)}}
    {{did-update this.handleUpdateExpanded @expanded}}
  >
    {{yield api}}
  </div>
{{/let}}