{{this.registerComponents
  this
  Content=(component
    this.ExpanderContent onInsert=this.registerContentElement style=this.style
  )
}}
<div
  class="expander"
  data-transitioning="{{this.isTransitioning}}"
  aria-expanded="{{this.isExpanded}}"
  tabindex="0"
  ...attributes
  {{did-insert this.handleInsertElement}}
  {{did-update this.handleUpdatedArguments @expanded}}
>
  {{yield this.api}}
</div>