{{this.registerComponents
  this
  Content=(component
    (ensure-safe-component this.ExpanderContent)
    onInsert=this.registerContentElement
    style=this.style
  )
}}
<div
  class={{concat
    "expander"
    (if this.isTransitioning " expander--transitioning")
  }}
  aria-expanded="{{this.isExpanded}}"
  ...attributes
  {{this.lifecycleHooks
    @expanded
    didInstall=this.handleInsertElement
    didReceiveArguments=this.handleReceivedArguments
  }}
>
  {{yield this.api}}
</div>