{{! template-lint-disable no-unsupported-role-attributes }}
{{this.registerContent
  (component
    this.ExpanderContent onInsert=this.registerContentElement style=this.style
  )
}}
<div
  class="expander"
  data-transitioning="{{this.isTransitioning}}"
  data-expanded="{{this.isExpanded}}"
  role="region"
  ...attributes
  {{did-insert this.handleInsertElement}}
  {{did-update this.handleUpdatedArguments @expanded}}
>
  {{yield this.api}}
</div>