<h1>
  @zestia/ember-expander
</h1>

{{! template-lint-disable no-inline-styles }}
<a href="https://github.com/zestia/ember-expander">
  <img
    style="position: absolute; top: 0; right: 0; border: 0;"
    width="149"
    height="149"
    src="https://github.blog/wp-content/uploads/2008/12/forkme_right_darkblue_121621.png?resize=149%2C149"
    class="attachment-full size-full"
    alt="Fork me on GitHub"
    data-recalc-dims="1"
  />
</a>

<h4>
  Demo
</h4>

<div class="demo">
  <Expander class="expander--transition" as |expander|>
    <button type="button" {{on "click" expander.toggle}}>
      Toggle
    </button>
    <button type="button" {{on "click" this.toggleMore}}>
      Toggle more content
    </button>

    <expander.Content>
      Hello
      <br />
      World
      {{#if this.more}}
        <br />
        More content
      {{/if}}
    </expander.Content>
  </Expander>

  <h4>
    Pre-expanded
  </h4>

  <Expander @expanded={{true}} as |expander|>
    <button type="button" {{on "click" expander.toggle}}>
      Toggle
    </button>

    <expander.Content>
      Hello
      <br />
      World
    </expander.Content>
  </Expander>

  <h4>
    Nested
  </h4>

  <Expander class="expander--transition" as |expander|>
    <button type="button" {{on "click" expander.toggle}}>
      Toggle
    </button>
    <expander.Content>
      <Expander class="expander--transition" as |expander|>
        <button type="button" {{on "click" expander.toggle}}>
          Toggle
        </button>

        <expander.Content>
          Hello
          <br />
          World
        </expander.Content>
      </Expander>
    </expander.Content>
  </Expander>
</div>